
article {
  color: #FFFFEB;
  padding: 0.5in 0;
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
  background: linear-gradient(hsl(200, 57%, 82%), white 6.55rem);
}

article * {
  grid-column: start / end;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figcaption {
  margin-top: 0.5rem;
  display: flex;
	justify-content: center;
}

@media (max-width: 8.5in) {
  article {grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;}
}
